# Gramener Case Study

In [1]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_colwidth', -1)

#### External contants

In [2]:
loan_file_path="./loan/loan.csv"
data_dict_file_path = "./loan/Data_Dictionary.xlsx"

## Check Point 1:  Data Cleaning

### - Fetching ```loan``` data from given file

In [3]:
loan = pd.read_csv(loan_file_path, encoding="utf8")
loan.head()

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.000,36 months,10.65%,162.870,B,B2,...,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan
1,1077430,1314167,2500,2500,2500.000,60 months,15.27%,59.830,C,C4,...,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan
2,1077175,1313524,2400,2400,2400.000,36 months,15.96%,84.330,C,C5,...,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan
3,1076863,1277178,10000,10000,10000.000,36 months,13.49%,339.310,C,C1,...,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan
4,1075358,1311748,3000,3000,3000.000,60 months,12.69%,67.790,B,B5,...,nan,nan,nan,nan,0.000,0.000,nan,nan,nan,nan

#### Finding number of rows and columns in the dataset

In [4]:
print('The loan dataset set has %d rows and %d columns' % (loan.shape[0], loan.shape[1]))

The loan dataset set has 39717 rows and 111 columns

#### Removing columns which have all values as ```NaN```

In [5]:
nan_count_df = loan.isnull().sum().to_frame('nan_count')
num_col_with_all_nan = nan_count_df.loc[nan_count_df['nan_count']  == loan.shape[0], :].shape[0]
print('Number of columns with all NaN values are %d.' % (num_col_with_all_nan))

Number of columns with all NaN values are 54.

In [6]:
# Removing columns which have all values as NaN
clean_loan = loan.dropna(axis=1, how="all")
print('The loan dataset set has now %d rows and %d columns' % (clean_loan.shape[0], clean_loan.shape[1]))

The loan dataset set has now 39717 rows and 57 columns

### - Fetching ```Data Dictionary```  from given file

In [7]:
data_dict = pd.read_excel(data_dict_file_path, sheet_name="LoanStats")
data_dict.head()

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.

#### Initial List of columns for consideration

In [8]:
filtered_data_dict = data_dict.loc[data_dict['LoanStatNew'].isin(clean_loan.columns), :]

In [9]:
clean_loan = clean_loan.loc[clean_loan['loan_status'] == 'Charged Off', :]
clean_loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
1,1077430,1314167,2500,2500,2500.000,60 months,15.27%,59.830,C,C4,...,NaN,Sep-13,0.000,1,INDIVIDUAL,0,0.000,0,0.000,0.000
8,1071795,1306957,5600,5600,5600.000,60 months,21.28%,152.390,F,F2,...,NaN,Aug-12,0.000,1,INDIVIDUAL,0,0.000,0,0.000,0.000
9,1071570,1306721,5375,5375,5350.000,60 months,12.69%,121.450,B,B5,...,NaN,Mar-13,0.000,1,INDIVIDUAL,0,0.000,0,0.000,0.000
12,1064687,1298717,9000,9000,9000.000,36 months,13.49%,305.380,C,C1,...,NaN,Nov-12,0.000,1,INDIVIDUAL,0,0.000,0,0.000,0.000
14,1069057,1303503,10000,10000,10000.000,36 months,10.65%,325.740,B,B2,...,NaN,Mar-14,0.000,1,INDIVIDUAL,0,0.000,0,0.000,0.000

In [10]:
clean_loan.shape

(5627, 57)

In [11]:
clean_loan_df = clean_loan.isnull().sum().sort_index().to_frame('nan_count').reset_index()

In [12]:
# Creating a dataframe by merging the data dictional the clean_loan dataframe to get a better understanding
loan_frame = pd.merge(filtered_data_dict, clean_loan_df, how="inner", left_on="LoanStatNew", right_on="index")
loan_frame.loc[:,['LoanStatNew','Description','nan_count']]

,LoanStatNew,Description,nan_count
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.,0
1,addr_state,The state provided by the borrower in the loan application,0
2,annual_inc,The self-reported annual income provided by the borrower during registration.,0
3,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers,0
4,chargeoff_within_12_mths,Number of charge-offs within 12 months,6
5,collection_recovery_fee,post charge off collection fee,0
6,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections,6
7,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years,0
8,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.,0
9,desc,Loan description provided by the borrower,1802
10,dti,"A ratio calculated using the borrowerâ€™s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowerâ€™s self-reported monthly income.",0
11,earliest_cr_line,The month the borrower's earliest reported credit line was opened,0
12,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.,0
13,emp_title,The job title supplied by the Borrower when applying for the loan.*,484
14,funded_amnt,The total amount committed to that loan at that point in time.,0
15,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.,0
16,grade,LC assigned loan grade,0
17,home_ownership,"The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.",0
18,id,A unique LC assigned ID for the loan listing.,0
19,initial_list_status,"The initial listing status of the loan. Possible values are â€“ W, F",0
20,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries),0
21,installment,The monthly payment owed by the borrower if the loan originates.,0
22,int_rate,Interest Rate on the loan,0
23,issue_d,The month which the loan was funded,0
24,last_credit_pull_d,The most recent month LC pulled credit for this loan,1
25,last_pymnt_amnt,Last total payment amount received,0
26,last_pymnt_d,Last month payment was received,71
27,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.",0
28,loan_status,Current status of the loan,0
29,member_id,A unique LC assigned Id for the borrower member.,0
30,mths_since_last_delinq,The number of months since the borrower's last delinquency.,3485
31,mths_since_last_record,The number of months since the last public record.,5049
32,next_pymnt_d,Next scheduled payment date,5627
33,open_acc,The number of open credit lines in the borrower's credit file.,0
34,out_prncp,Remaining outstanding principal for total amount funded,0
35,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors,0
36,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2,0
37,pub_rec,Number of derogatory public records,0
38,pub_rec_bankruptcies,Number of public record bankruptcies,118
39,purpose,A category provided by the borrower for the loan request.,0
40,pymnt_plan,Indicates if a payment plan has been put in place for the loan,0
41,recoveries,post charge off gross recovery,0
42,revol_bal,Total credit revolving balance,0
43,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.",16
44,sub_grade,LC assigned loan subgrade,0
45,tax_liens,Number of tax liens,1
46,term,The number of payments on the loan. Values are in months and can be either 36 or 60.,0
47,title,The loan title provided by the borrower,2
48,total_acc,The total number of credit lines currently in the borrower's credit file,0
49,total_pymnt,Payments received to date for total amount funded,0
50,total_pymnt_inv,Payments received to date for portion of total amount funded by investors,0
51,total_rec_int,Interest received to date,0
52,total_rec_late_fee,Late fees received to date,0
53,total_rec_prncp,Principal received to date,0
54,url,URL for the LC page with listing data.,0
55,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified",0
56,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.,0

In [13]:
#### Removing columns  mths_since_last_delinq, mths_since_last_record, next_pymnt_d, emp_title, desc
columns_to_remove = ['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d', 'emp_title', 'desc', 'url']
loan_frame.drop(loan_frame[loan_frame['LoanStatNew'].isin(columns_to_remove)].index.values, inplace=True)

In [14]:
clean_loan[loan_frame['LoanStatNew']].describe()

,acc_now_delinq,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,delinq_2yrs,delinq_amnt,dti,funded_amnt,funded_amnt_inv,...,pub_rec_bankruptcies,recoveries,revol_bal,tax_liens,total_acc,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp
count,5627.000,5627.000,5621.000,5627.000,5621.000,5627.000,5627.000,5627.000,5627.000,5627.000,...,5509.000,5627.000,5627.000,5626.000,5627.000,5627.000,5627.000,5627.000,5627.000,5627.000
mean,0.000,62427.298,0.000,87.566,0.000,0.171,0.000,14.001,11753.399,10864.521,...,0.067,672.102,13514.244,0.000,21.428,6838.031,6367.470,2194.459,4.292,3967.178
std,0.000,47776.014,0.000,386.591,0.000,0.535,0.000,6.586,7760.516,7661.751,...,0.252,1720.743,15164.117,0.000,11.447,6615.859,6490.913,2551.974,12.816,3963.431
min,0.000,4080.000,0.000,0.000,0.000,0.000,0.000,0.000,900.000,0.000,...,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000
25%,0.000,37000.000,0.000,0.000,0.000,0.000,0.000,9.050,5575.000,5000.000,...,0.000,0.000,3968.000,0.000,13.000,2215.575,1865.910,555.010,0.000,1205.780
50%,0.000,53000.000,0.000,2.513,0.000,0.000,0.000,14.290,10000.000,9401.209,...,0.000,173.040,9211.000,0.000,20.000,4839.000,4345.740,1288.260,0.000,2729.590
75%,0.000,75000.000,0.000,9.365,0.000,0.000,0.000,19.290,16000.000,15000.000,...,0.000,595.655,17518.000,0.000,28.000,9191.705,8544.850,2801.615,0.000,5341.130
max,0.000,1250000.000,0.000,7002.190,0.000,8.000,0.000,29.850,35000.000,35000.000,...,2.000,29623.350,148829.000,0.000,74.000,51745.450,51671.580,22122.300,180.200,31115.810

In [17]:
print("Total number of unique member in the data set is %d" % clean_loan['member_id'].nunique())

Total number of unique member in the data set is 5627

In [20]:
clean_loan['loan_amnt'].describe()

count   5627.000
mean    12104.385
std     8085.732
min     900.000
25%     5600.000
50%     10000.000
75%     16500.000
max     35000.000
Name: loan_amnt, dtype: float64

In [22]:
clean_loan['funded_amnt'].describe()

count   5627.000
mean    11753.399
std     7760.516
min     900.000
25%     5575.000
50%     10000.000
75%     16000.000
max     35000.000
Name: funded_amnt, dtype: float64

count   5509.000
mean    0.067
std     0.252
min     0.000
25%     0.000
50%     0.000
75%     0.000
max     2.000
Name: pub_rec_bankruptcies, dtype: float64

In [30]:
clean_loan['verification_status'].value_counts(normalize=True)

Not Verified      0.381
Verified          0.364
Source Verified   0.255
Name: verification_status, dtype: float64

In [31]:
clean_loan['purpose'].value_counts(normalize=True)
### fileter for more than 85%

debt_consolidation   0.492
other                0.112
credit_card          0.096
small_business       0.084
home_improvement     0.062
major_purchase       0.039
car                  0.028
medical              0.019
wedding              0.017
moving               0.016
house                0.010
educational          0.010
vacation             0.009
renewable_energy     0.003
Name: purpose, dtype: float64

In [33]:
clean_loan['grade'].value_counts(normalize=True)

B   0.253
C   0.239
D   0.199
E   0.127
A   0.107
F   0.057
G   0.018
Name: grade, dtype: float64

In [35]:
clean_loan['sub_grade'].value_counts(normalize=True)

B5   0.063
B3   0.061
C1   0.060
B4   0.058
C2   0.057
D2   0.048
C3   0.048
D3   0.045
B2   0.041
A5   0.039
D4   0.038
C4   0.038
D5   0.037
C5   0.037
E1   0.035
A4   0.032
B1   0.030
D1   0.030
E2   0.029
E4   0.022
E3   0.021
E5   0.019
A3   0.018
F1   0.016
A2   0.013
F2   0.012
F5   0.010
F4   0.009
F3   0.009
G1   0.006
A1   0.005
G2   0.005
G3   0.003
G4   0.002
G5   0.002
Name: sub_grade, dtype: float64

In [38]:
clean_loan['pymnt_plan'].value_counts(normalize=True)

n   1.000
Name: pymnt_plan, dtype: float64

In [45]:
clean_loan['pub_rec_bankruptcies'].describe()

count   5509.000
mean    0.067
std     0.252
min     0.000
25%     0.000
50%     0.000
75%     0.000
max     2.000
Name: pub_rec_bankruptcies, dtype: float64

In [46]:
clean_loan['pub_rec_bankruptcies'].value_counts(normalize=True)

0.000   0.933
1.000   0.066
2.000   0.000
Name: pub_rec_bankruptcies, dtype: float64

In [47]:
clean_loan['pub_rec'].describe()

count   5627.000
mean    0.085
std     0.285
min     0.000
25%     0.000
50%     0.000
75%     0.000
max     2.000
Name: pub_rec, dtype: float64

In [48]:
clean_loan['pub_rec'].value_counts(normalize=True)

0   0.917
1   0.081
2   0.002
Name: pub_rec, dtype: float64

In [51]:
clean_loan['emp_length'].value_counts(normalize=True)

10+ years   0.237
< 1 year    0.114
2 years     0.101
3 years     0.099
4 years     0.082
5 years     0.081
1 year      0.081
6 years     0.055
7 years     0.047
n/a         0.041
8 years     0.036
9 years     0.028
Name: emp_length, dtype: float64

In [52]:
clean_loan['application_type'].value_counts(normalize=True)

INDIVIDUAL   1.000
Name: application_type, dtype: float64

In [54]:
clean_loan['home_ownership'].value_counts(normalize=True)

RENT       0.505
MORTGAGE   0.414
OWN        0.079
OTHER      0.003
Name: home_ownership, dtype: float64

In [58]:
clean_loan['term'].value_counts(normalize=True)

 36 months   0.573
 60 months   0.427
Name: term, dtype: float64

In [83]:
# clean_loan['percent_open_acc'] = clean_loan['open_acc'] / clean_loan['total_acc']
clean_loan['percent_open_acc'].describe()

count   5627.000
mean    0.482
std     0.192
min     0.062
25%     0.333
50%     0.455
75%     0.600
max     1.000
Name: percent_open_acc, dtype: float64

In [94]:
ranges = [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
clean_loan.groupby(pd.cut(clean_loan['percent_open_acc'], ranges))['id'].count()

percent_open_acc
(0.0, 0.1]    13
(0.1, 0.2]    221
(0.2, 0.3]    772
(0.3, 0.4]    1230
(0.4, 0.5]    1237
(0.5, 0.6]    774
(0.6, 0.7]    604
(0.7, 0.8]    418
(0.8, 0.9]    203
(0.9, 1.0]    155
Name: id, dtype: int64